*{
  white-space: nowrap;
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
}

.container{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  text-align: center;
  /* background-color: #00000010; */
}

textarea, select, input, button { outline: none; }

.user-alert{
  margin: 10px;
}

.container h1{
  /* margin: 10px; */
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 300;
}

#username {
  text-transform: capitalize;
}

#register-form{
  height: 250px;
}

#login-form{
  height: 150px;
}

.showed{
  transition: all 0.2s;
  opacity: 1;
}

.hidden{
  transition: all 0.2s;
  opacity: 0;
  height: 0!important;
  overflow: hidden;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #333;
}

input, select{
  background-color: white;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  width: 250px;
  border: 1px solid #999;
  border-radius: 30px;;
  box-sizing: border-box;
  transition: width 0.2s;
}

input[type="text"]:disabled {
    background: #ddd;
}

input:focus, select:focus{
  width: 265px;
}

input[name=nama]{
  text-transform: capitalize;
}

input:hover, input:focus, select:hover, select:focus{
  border: 1px solid #4382e8;
}

input[type=submit]:hover, select:hover{
  cursor: pointer;
}
input[type=submit]:hover{
  color: #4382e8;
}

input::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

input.invalid{
  border: 1px solid #e55757!important;
}

select{
  text-transform: capitalize;
  -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
}

select[disabled]:hover{
  color:grey;
}
